[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyhelper"]
	path = shinyhelper
	url = https://github.com/cwthom/shinyhelper
